<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<% if flash.has?(:error) %>
<%= flash[:error] %>
<% end %>

<h1>Hi, <%= @patient.username %>!</h1>
<h2>Your Appointments</h2>
<% @patient.appointments.each do |appointment| %>
    <ul>
    <li><a href='/appointments/<%= appointment.id %>'><%= appointment.appt_date.strftime("%A, %B %d") %>: <%= appointment.appt_time.strftime("%I:%M %p") %></a></li>
    </ul>
<% end %>

<h2>Ready to Book a new Appointment?</h2>
<a href="/appointments/new"><button>Book a New Appointment</button></a>
<br><br>
<a href="/logout"><button>Log Out</button></a>