<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/patient">Bloom Clinic</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
		  <div class="collapse navbar-collapse" id="navbarDropDown">
		
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/patient">Home</a>
	          <a class="nav-item nav-link" href="/therapists">Our Staff</a>
			  <a class="nav-item nav-link" href="/contact">Contact Us</a>
			  <a class="nav-item nav-link" href="/logout">Log Out</a>
	        </div>
	    </div>
	</div>
</nav>
</header>
<main>
<div class="container">
<form method="POST" action="/appointments/<%= @appointment.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h3>You may change your therapist:</h3>
    <% @therapists.each do |therapist| %>
    <input type="radio" id="<%= therapist.name %>" name="appointment[therapists][]" value="<%= therapist.id %>" <%='checked' if @appointment.therapist == therapist %>><%= therapist.name %></input>
	<br>
	<% end %>
<br>

<label for="appt_date"><h3>Change your appointment date:</h3></label>
<input type="date" id="appt_date" name="appointment[appt_date]" value="<%= @appointment.appt_date %>" required>
<br><br>
<label for="appt_time"><h3>Change your appointment time:</h3></label>
<input type="time" id="appt_time" name="appointment[appt_time]" value=<%= @appointment.appt_time.strftime("%I:%M %p") %> min="09:00" max="18:00" required>
<br>
<small>Office Hours are 9am to 6pm</small>
<br><br>
<label for="concern"><h3>What is your Concern?</h3></label>
<input type="text" id="concern" name="appointment[concern]" value="<%= @appointment.concern %>">
<br>
<input type="submit" value="Submit">
</form>

<a href="/patient"><button class="btn-book">Back to Appointments</button></a>
</div>
</main>