<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #f18973">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/patient">Bloom Clinic</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse"></div>
		  <div class="collapse navbar-collapse" id="navbarDropDown">
		
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/patient">Home</a>
	          <a class="nav-item nav-link" href="/therapists">Our Staff</a>
			  <a class="nav-item nav-link" href="/contact">Contact Us</a>
			  <a class="nav-item nav-link" href="/logout">Log Out</a>
	        </div>
	    </div>
	</div>
</nav>
</header>
<main>
<br><br>
<div class="container-main">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>
<h3>Your appointment is scheduled on: <%= @appointment.appt_date.strftime("%A, %B %d") %></h3>
<br>
<h3>Appointment Time: <%= @appointment.appt_time.strftime("%I:%M %p") %></h3>
<br>
<h3>Therapist: <%= @appointment.therapist.name %></h3>
<br>
<h3>Purpose for Appointment: <%= @appointment.concern %></h3>

<a href='/appointments/<%= @appointment.id %>/edit'><button class="btn-book">Edit Appointment</button></a>
<br><br>
<h3>Tips to make the most of your appointment:</h3>
<ul>
    <li>1. Keep a pen and notebook or journal on hand in order to take down notes.</li>
    <li>2. Be present. Mindfulness is key!</li>
    <li>3. Ask questions. Your therapist is there to help you answer any concerns that you have.</li>
    <li>4. Bloom Clinic is a safe space and judgment-free zone. Rest assured that your privacy is of our utmost priority. Please refer to our confidentiality policy for further information.</li>
</ul>

<form method="POST" action="/appointments/<%= @appointment.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Cancel">
</form>

<a href="/patient"><button class="btn-book">Back to Appointments</button></a>
</div>
</main>